services:
  - type: web
    name: urawacup3-backend
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    envVars:
      - key: PORT
        value: 8001
    healthCheckPath: /docs
